asciimatics
wikipedia
requests
bs4
beautifulsoup4
phonenumbers
folium
opencage
pyttsx3
pyjokes
pywhatkit
psutil
PyAutoGUI
PyPDF2
qrcode
PyQt5
numpy
opencv-python
PyAudio
Pillow
colorama
shazam
openai